body{
    margin: 0;
}
a{
   text-decoration: none;
   color: inherit; 
}
header{
    background-color: rgb(7, 7, 22);
    display: flex;
    justify-content: space-around;
}
h1{
    color: white;
    font-family: 'Nunito', sans-serif;
}
.nav-button-container{
    display: flex;
    gap: 25px;
    align-items: center;
    z-index: 2000;

}
.nav-button{
    color: rgb(181, 182, 187);
    font-family: 'Nunito', sans-serif;
    transition: all 0.3s;
}
.nav-button:hover{
    color: rgb(205, 78, 0);
}

.video-container{
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
    overflow: hidden;

}
video{
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.intro{
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

.explore-button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.explore-button:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.nav-button{
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    z-index: 2000;
}
.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;   
    color:rgb(181, 182, 187);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    top: 100%;
    left: 0;
    background-color: rgb(7, 7, 22);
    transform: translateY(-15px);
    pointer-events: none;
    opacity: 0;
    transition:
        opacity 0.3s ease, 
        transform 0.3s ease;
    
}
.dropdown-item{
    border-bottom: 1px solid rgb(59, 59, 59);
    width: 100%;   
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    transition: all 0.2s;
}
.dropdown-item:hover{
    color:rgb(205, 78, 0)
}
.nav-button:hover .dropdown, .dropdown:hover{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.introduction-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 -25px 20px rgb(255, 255, 255);
}
.introduction{
    align-self: center;
    width: 80%;
    padding: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 80px;
}
.introduction::before{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(195, 195, 195);
    margin-bottom: 20px;    
}